img {
  max-width: 150px;
}

.carousel {
  overflow-x: scroll;
  display: flex;
  position: relative;
  overflow-y: none;
  height: 90%;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}