* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #e9ecef;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/hero-image.jpg");
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  opacity: 0.8;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

}

.main-font {
  font-family: 'Source Sans Pro',
    sans-serif;
}

.diginote-font {
  font-family: 'Baloo Bhai',
    cursive;
  color: #148CBA;

}

.box-shadow {
  box-shadow: 5px 5px 10px black;
}

.card-img-top {
  width: 100%;
  height: 150px;
  justify-content: center;
  margin: auto;
  margin-top: 5vh;
}

img {
  max-width: 150px;
  justify-content: center;
}

.banner-blend {
  margin-top: -70px;
}

.media {}